fastapi>=0.100.0
uvicorn[standard]
gunicorn
pydantic>=2.0,<3.0
pydantic-settings
python-dotenv
gunicorn
httpx
pytest
email-validator
requests
python-multipart
sqlalchemy
asyncmy
sentence-transformers
langchain-community
langchain-core
langgraph
langchain-openai
pypdf
unstructured
docx2txt
tiktoken